/* Apoios */

#yubo {
	width: 60px;
	height:50px;
	float:right;
	margin-left:10px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(apoio/yubo.jpg) top center no-repeat;
}
#yubo:hover {
	margin-left:10px;
    background: url(apoio/yubo.jpg) bottom center no-repeat;
}
#madp {
	width: 56px;
	height:50px;
	float:right;
	margin-left:10px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(apoio/madp.jpg) top center no-repeat;
}
#madp:hover {
	margin-left:10px;
	background: url(apoio/madp.jpg) bottom center no-repeat;
}
#kenny {
	width: 72px;
	height:50px;
	float:right;
	margin-left:10px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(apoio/kenny.jpg) top center no-repeat;
}
#kenny:hover {
	margin-left:10px;
	background: url(apoio/kenny.jpg) bottom center no-repeat;
}
#spec {
	width: 117px;
	height:50px;
	float:right;
	margin-left:10px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(apoio/spec.jpg) top center no-repeat;
}
#spec:hover {
	margin-left:10px;
	background: url(apoio/spec.jpg) bottom center no-repeat;
}

#pombo {
	width: 56px;
	height:50px;
	float:right;
	margin-left:10px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(apoio/pombo.jpg) top center no-repeat;
}
#pombo:hover {
	margin-left:10px;
	background: url(apoio/pombo.jpg) bottom center no-repeat;
}
