@charset "utf-8";
/* CSS Document */

	#dhtmlgoodies_progressPane{
		width:100%;
		height:100%;
		background-color:#000;
		z-index:5000;
		position:absolute;
		left:0px;
		top:0px;
		
	}
	#dhtmlgoodies_progressBar_bg{
		vertical-align:central;
		position:absolute;
		margin-left:-50px;
		left:50%;
		top:250px;
		width:54px;
		height:55px;
		border:1px solid #000;
		background-image:url(ajax-loader.gif);
		background-color:#000;

		text-align:center;
	}
	#dhtmlgoodies_progressBar_outer{
		position:absolute;
		left:0px;
		top:0px;
		width:0px;	
		height:100%;
		overflow:hidden;	
	}
	
	#dhtmlgoodies_progressBar{
		position:absolute;
		left:0px;
		top:0px;
		width:300px;

		filter: Alpha(Opacity=0, FinishOpacity=100,Style=1,StartX=0, StartY=0, FinishX=200,FinishY=20) ;
		height:100%;
		z-index:5000;
	}
	#dhtmlgoodies_progressBar_txt{
		color:#FFF;
		margin-top:19px;
		margin-left:3px;
		z-index:10000;
		width:100%;
		height:100%;
		left:0px;
		top:0px;
		position:absolute;		
		font-family:arial;
		font-size:0.8em;
		line-height:20px;	/* Same as height of progress bar */
	}