/* CSS Document */

@font-face {
  font-family: "oratorstd";
  src: url("type/oratorstd.eot");
  src: local("☺"),
    url("type/oratorstd.woff") format("woff"),
    url("type/oratorstd.otf") format("opentype"),
    url("type/oratorstd.svg#oratorstd") format("svg");
  }

body {
	background-color: #000;
	top:30px;
	text-align:left;

}
#content {
    margin-top:26px;
	background: URL(images/splash.jpg);
	background-repeat:no-repeat;
	display: block;
	width: 1000px;
    height: 520px;
}
#texto {
	position:relative;
	text-align:left;
	top:380px;
	line-height:10px;
	overflow-y:hidden;
	margin-left:auto;
	padding-left:150px;
    font-family: oratorstd, Verdana, Geneva, sans-serif;
	border:none;
	color: #FFF;
	font-size: 25px;


}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #CCC;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
#footer {
	margin-top:1px;
	width:1000px;
	height: 50px;
	border:none;
	text-align:right;
}