/*
	GENERIC RESET & BASIC STRUCTURE
*/

@font-face {
  font-family: "oratorstd";
  src: url("type/oratorstd.eot");
  src: local("☺"),
    url("type/oratorstd.woff") format("woff"),
    url("type/oratorstd.otf") format("opentype"),
    url("type/oratorstd.svg#oratorstd") format("svg");
  }
  
* 									{ margin: 0; padding: 0; }
body 								{ font-family: Oratorstd, Verdana, Arial, Helvetica, sans-serif;
						  		 	  font-size: 11px; background-color:#000; color: #FFF; text-transform: uppercase;}
a 									{ /* remove the dotted outlines when clicking tabs */ 
						  		      outline: none; text-decoration: none; }
a:link {
	color: #0f0f0f;
}
a:visited {
	color: #191919;
}
a:hover {
	color: #191919;
}
a:active {
	color: #191919;
}
ul 									{ list-style: none; }

/*
	WIDGET STRUCTURE
*/
#blogSliderWrap 					{ width: 1000px; height:520px; margin-top: 10px; margin-bottom: 0px;
									  position: relative;}
#blogSlider 						{ width: 1000px; height:520px; }
.stripViewer 						{ position: relative; overflow: hidden; clear: both; }
.stripViewer .panelContainer 		{ position: relative; left: 0px; top: 0px; }
.stripViewer .panelContainer .panel { float: left; position: relative; width: 1000px;}
.stripNav 							{ left: 110px; position:relative; z-index: 99; top:-3px;
									  width: 1000px; }
.wrapper 							{ width: 100%; height: 100%; resize:both;}
.innerWrap 							{ width: 100%; overflow: hidden; }

/* 
	MAIN TABBED NAVIGATION
*/
.stripNav ul li 					{float: left;}

.stripNav li a 						{ /* Generic "CSS image replacement" */
									  display: block; height: 15px; text-indent: -9999px; }
/* The below class names are auto-generated by the JavaScript */
.stripNav li.tab1 a { background: url(images/1.jpg) top center no-repeat; width: 58px; }
.stripNav li.tab2 a { background: url(images/2.jpg) top center no-repeat; width: 84px; }
.stripNav li.tab3 a { background: url(images/3.jpg) top center no-repeat; width: 76px; }
.stripNav li.tab4 a { background: url(images/4.jpg) top center no-repeat; width: 84px; }
.stripNav li.tab5 a { background: url(images/5.jpg) top center no-repeat; width: 79px; }
.stripNav li.tab6 a { background: url(images/6.jpg) top center no-repeat; width: 79px; }
.stripNav li.tab7 a { background: url(images/7.jpg) top center no-repeat; width: 85px; }

.stripNav li a:hover, 
.stripNav li a:active, 
.stripNav li a:focus 				{ /* Restore focus styling that we removed when we removed outlines */
									  background-position: top center; }

/* It is neccessary to repeat the image paths here */
.stripNav li.tab1 a.current { background: url(images/1.jpg) bottom center no-repeat; }
.stripNav li.tab2 a.current { background: url(images/2.jpg) bottom center no-repeat; }
.stripNav li.tab3 a.current { background: url(images/3.jpg) bottom center no-repeat; }
.stripNav li.tab4 a.current { background: url(images/4.jpg) bottom center no-repeat; }
.stripNav li.tab5 a.current { background: url(images/5.jpg) bottom center no-repeat; }
.stripNav li.tab6 a.current { background: url(images/6.jpg) bottom center no-repeat; }
.stripNav li.tab7 a.current { background: url(images/7.jpg) bottom center no-repeat; }

/* 
	HEADLINES STYLING 
*/
.panel ul 							{ width: 1000px; }
.panel ul li a 						{ border-bottom: 1px solid #C1B599; color: #303030;
						  		  	  display: block; padding: 7px 10px; }
.panel ul li:last-child a 			{ /* Remove bottom border on last list item
	   							  	  Hooray for pseudo selectors! */
								  	  border: none; }
								  	  /* Unique rollover colors for each list */
.panel ul#psd-list li a:hover 		{ background: #b20202; color: white; }
.panel ul#net-list li a:hover 		{ background: #4a8c7f; color: white; }
.panel ul#vector-list li a:hover 	{ background: #1f5293; color: white; }
.panel ul#audio-list li a:hover 	{ background: #4f7c11; color: white; }

#content {
	width: 1000px;
	height: 520px;

	clear: both;
}
#video {
	margin-top: 150px;
	margin-right: 60px;
	width:382px;
	height:224px;
	float: right;
}
#footer {
    width:1000px;
	height: auto;
	border-image:none;
    position: relative;
	margin-top: 17px;
	text-align: right;
	
}

#bar1 {
	width:1000px;
	heigth:84px;
	float:left;
	text-align: left;
	margin-top: 57px;
}
#bar2 {
	width: 1000px;
	height: 84px;
	float:left;
	text-algin:left;
	margin-top:3px;
}
.link {
	overflow: hidden;
	text-indent:1000px;
	float:left;
	position:relative;
	display: block;
	resize: none;

	
}