#blogSliderWrap 					{ width: 1000px; height:520px; margin-top: 10px; margin-bottom: 0px;
									  position: relative;}
#blogSlider 						{ width: 1000px; height:520px; }
.stripViewer 						{ position: relative; overflow: hidden; clear: both; }
.stripViewer .panelContainer 		{ position: relative; left: 0px; top: 0px; }
.stripViewer .panelContainer .panel { float: left; position: relative; width: 1000px;}
.stripNav 							{ left: 110px; position:relative; z-index: 99; top:-3px;
									  width: 1000px; }
.wrapper 							{ width: 100%; height: 100%; resize:both;}
.innerWrap 							{ width: 100%; overflow: hidden; }


#footer {
	margin-top: 17px;
	
}