/* Video Thumbs */

#um {
	width: 151px;
	height:84px;
	float:left;
	margin-left:0px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	margin-left:114px;
	background: url(video/1.jpg) top center no-repeat;
}
#um:hover {
	margin-left:114px;
	background: url(video/1.jpg) bottom center no-repeat;
}
#dois {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/2.jpg) top center no-repeat;
}
#dois:hover {
	margin-left:3px;
	background: url(video/2.jpg) bottom center no-repeat;
}
#três {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/3.jpg) top center no-repeat;
}
#três:hover {
	margin-left:3px;
	background: url(video/3.jpg) bottom center no-repeat;
}
#quatro {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/4.jpg) top center no-repeat;
}
#quatro:hover {
	margin-left:3px;
	background: url(video/4.jpg) bottom center no-repeat;
}
#cinco {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/5.jpg) top center no-repeat;
}
#cinco:hover {
	margin-left:3px;
	background: url(video/5.jpg) bottom center no-repeat;
}
#seis {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/6.jpg) top center no-repeat;
}
#seis:hover {
	margin-left:3px;
	background: url(video/6.jpg) bottom center no-repeat;
}
#sete {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/7.jpg) top center no-repeat;
}
#sete:hover {
	margin-left:3px;
	background: url(video/7.jpg) bottom center no-repeat;
}
#oito {
	width: 151px;
	height:84px;
	float:left;
	margin-left:19px;
	overflow: hidden;
	display: block;
	margin-left:160px;
	text-indent: 10000px;
	background: url(video/8.jpg) top center no-repeat;
}
#oito:hover {
	margin-left:160px;
	background: url(video/8.jpg) bottom center no-repeat;
}
#nove {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/9.jpg) top center no-repeat;
}
#nove:hover {
	margin-left:3px;
	background: url(video/9.jpg) bottom center no-repeat;
}
#dez {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/10.jpg) top center no-repeat;
}
#dez:hover {
	margin-left:3px;
	background: url(video/10.jpg) bottom center no-repeat;
}
#onze {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/11.jpg) top center no-repeat;
}
#onze:hover {
	margin-left:3px;
	background: url(video/11.jpg) bottom center no-repeat;
}
#doze {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/12.jpg) top center no-repeat;
}
#doze:hover {
	margin-left:3px;
	background: url(video/12.jpg) bottom center no-repeat;
}
#treze {
	width: 151px;
	height:84px;
	float:left;
	margin-left:3px;
	overflow: hidden;
	display: block;
	text-indent: 10000px;
	background: url(video/13.jpg) top center no-repeat;
}
#treze:hover {
	margin-left:3px;
	background: url(video/13.jpg) bottom center no-repeat;
}